.site-to-life-description {
  color: #EEEEEE;
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 1rem;
  margin: 0.75rem 0;

  @media (max-width: 700px) {
    font-size: 0.875rem;
    margin: 0.5rem 0;
  }
}