.features {
  margin: 0.625rem;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
  color: #EEEEEE;
  background-color: #272727;
  border-radius: 1.5rem;
  margin: 0.875rem;
  width: 600px;
  max-width: 90vw;

  img {
    height: 58px;
    margin-right: 0.875rem;
  }

  .feature-icon {
    color: #FFE985;
  }

  .feature-title {
    color: #FFE985;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    margin-bottom: 4px;

    @media (max-width: 700px) {
      margin-bottom: 2px;
    }
  }

  .feature-description {
    font-family: Inter, sans-serif;
    font-size: 1rem;
  }

  @media (max-width: 700px) {
    padding: 1.125rem;
    border-radius: 1.125rem;
    margin: 0.875rem;
    width: 450px;

    img {
      height: 54px;
      margin-right: 0.625rem;
    }

    .feature-title {
      font-size: 1.125rem;
    }

    .feature-description {
      font-size: 0.875rem;
    }
  }
}