.section {
    padding: 84px 32px;
    width: 100%;

    &.light {
        background-color: #181818;
    }

    &.center {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .content {
        max-width: 800px;
        margin: 0 auto;

        &.center {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .section-header {
            color: #7944FF;
            font-family: Raleway, sans-serif;
            font-weight: bold;
            font-size: 36px;
            text-align: center;

            @media (max-width: 700px) {
                font-size: 28px;
            }
        }
    }

    @media (max-width: 700px) {
        padding: 64px 32px;
    }
}

.header {
    display: flex;
    flex-direction: column;

    .meet, .hatchbox  {
        color: #7944FF;
        font-weight: bold;
        font-family: Raleway, sans-serif;
        font-size: 72px;
    }

    .hatchbox {
        margin: -30px 0 0 -4px;
        font-size: 128px;
    }

    .description {
        max-width: 600px;
        font-size: 18px;
        font-family: Inter, sans-serif;
        color: #EEEEEE
    }

    @media (max-width: 700px) {
        .meet, .hatchbox  {
            font-size: 42px;
        }

        .hatchbox {
            margin: -18px 0 0 -2px;
            font-size: 58px;
        }

        .description {
            font-size: 14px;
            font-family: Inter, sans-serif;
            color: #EEEEEE;
            max-width: 375px;
        }
    }
}


.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 32px;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #EEEEEE;
        cursor: pointer;
        background-color: #7944FF;
        height: 42px;
        padding: 0 36px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 68px;
        margin-right: 12px;

        &:hover {
            background-color: #6b3be8;
        }

        &.secondary {
            color: black;
            background-color: #FFE985;

            &:hover {
                background-color: #ffdf7f;
            }
        }
    }

    @media (max-width: 700px) {
        margin-top: 18px;

        .button {
            height: 32px;
            padding: 0 16px;
            font-size: 13px;
            border-radius: 32px;
            margin-right: 8px;
        }
    }
}