html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #101010;
	position: absolute;
}

* {
	box-sizing: border-box;
}

#app {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	margin-bottom: 30px;
}

.loading {
	color: #c9b9f4;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.navbar {
	display: flex;
	color: #eeeeee;
	font-family: 'Inter', sans-serif;
	margin: 16px;
	padding: 0 10px;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	font-size: 16px;
	cursor: pointer;
}

.navbar div {
	margin-right: 24px;
}

@media (max-width: 700px) {
	.navbar {
		margin: 10px;
		padding: 0;
		font-size: 12px;
	}

	.navbar div {
		margin-right: 12px;
	}
}

.navbar div:hover {
	color: #6b3be8;
}
