html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #181818;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	margin-bottom: 30px;
}

.loading {
	color: #c9b9f4;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
