.pricing-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .pricing-item {
    padding: 1.5rem;
    background-color: #101010;
    color: #EEEEEE;
    border-radius: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem 0.75rem;
    min-width: 250px;

    .pricing-value {
      font-size: 48px;
      font-weight: bold;
      font-family: Raleway, sans-serif;
      color: #FFE985;
      margin-bottom: 0.5rem;
    }

    .pricing-type {
        font-size: 1.125rem;
        font-family: Inter, sans-serif;
        color: #EEEEEE;
    }

    @media (max-width: 700px) {
      padding: 1.125rem;
      border-radius: 0.875rem;
      margin: 1.5rem 6px;
      min-width: 150px;

      .pricing-value {
        font-size: 36px;
        margin-bottom: 6px;
      }

      .pricing-type {
        font-size: 1rem;
      }
    }
  }
}

.pricing-description {
  color: #EEEEEE;
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 1rem;
  margin: 0.75rem 0;

  @media (max-width: 700px) {
    font-size: 0.875rem;
    margin: 0.5rem 0;
  }
}