<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>assets/icons/apple-touch-icon.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
		<meta name="description" content="Hatchbox is a custom website development and hosting team focused on helping small businesses establish an online presence and reach new customers. Our team provides custom website development, domain name registration and management, optimal website performance, lifetime support, and quarterly site analytics reviews to ensure that your website is always running smoothly and effectively.">
		<link rel="icon" type="image" href="assets/Logo_alt.svg">

		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3MWY1976T1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-3MWY1976T1');
		</script>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
